.body{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products{
    display: flex;
    margin: 20px;
    gap: 20px;
}

.body h1{
    margin-right: 53rem;
}
.banner{
    padding: 60px;
}
.banner img{
    width: 70vw;
    border-radius: 10px;
}