.footer{
    background-color: #efefef;
    color:#898989;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.footer a{
    text-decoration: none;
    color: inherit;
}
.list{
    display: flex;
    flex-direction: column;
    
}
h3{
    color: #1a2a34;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
}
li{
    list-style: none;
}